.container__buttons {
  display: flex;
  justify-content: space-around;
}
.container__users {
  text-align: center;
  list-style: none;
}
.user {
  margin: 10px 0;
}
.title-result {
    font-size: 20px;
    font-weight: 500;
}
