<div class="container">
    <app-menu></app-menu>
    <h2 style="margin-top: 24px;">Herencia</h2>
    <p>Para herencia podemos se muestra un metodo para sumar dos numeros que se hereda de otra clase al igual que la valiable que contiene el resultado de dicha suma.</p>
    <div style="margin: 16px 0px;" class="row">

        <div class="col input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <input type="number" [(ngModel)]="num1" class="form-control" aria-label="Default"
                aria-describedby="inputGroup-sizing-default" placeholder="Numero 1">
        </div>
        <div class="col input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <input type="number" [(ngModel)]="num2" class="form-control" aria-label="Default"
                aria-describedby="inputGroup-sizing-default" placeholder="Numero 2">
        </div>
        <div>
            <button class="btn btn-danger" (click)="suma(num1, num2)">Sumar</button>
        </div>

    </div>
    <div style="margin: 16px 0px;" class="row" *ngIf="titleResult !== ''">
        <div class="col">
            <span class="title-result">{{titleResult}}</span>
        </div>
        <div class="col title-result">
            {{sumaResult}}
        </div>
    </div>

    <h2>Pruebas unitarias</h2>
    <p>Aqui tenemos el consumo de una API web por medio de un servicio y ademas validando sus metodos con unit test</p>
    <div class="container__buttons">
        <button class="btn btn-danger" (click)="getUsers()">Ver usuarios</button>
        <button class="btn btn-danger" (click)="getUsersWithError()">Ver usuarios error</button>
    </div>

    <ul class="container__users">
        <li class="user" *ngFor="let user of users">{{ user.name }}</li>
    </ul>

    <p class="container__error" *ngIf="error">Error!!!!</p>

    <h2>Interfaces</h2>
    <p>Un ejemplo simple de interfaces, donde mostramos un array que tiene una interfaz definida y a este se le agrega un objeto de la misma interfaz.</p>
    <div class="container__buttons">
        <button class="btn btn-danger" (click)="addAuto()">Agregar coche</button>

    </div>
    <div class="container__users" *ngFor="let c of coches">
        <p class="user">{{ c.marca }}</p>
        <p class="user">{{ c.subMarca }}</p>
        <p class="user">{{ c.modelo }}</p>
        <p class="user">{{ c.tipo }}</p>
    </div>
</div>