/* .container {
  margin: 24px 24px;
} */
.title-container {
  margin: 0 auto;
  margin-top: 24px;
  text-align: center;
}
.definition-container {
  width: 100%;
  text-align: center;
}
.btn-styles{
    margin-bottom: 16px;
    width: 275px;
}
.definition-title {  
  text-align: center;
  margin-top: 16px;
  margin-bottom: 12px;
}
.definition-text {
  text-align: justify;
  margin-bottom: 12px;
}
/* @media only screen and (min-width: 1024px) {
  .definition-container {
      display: flex;
  } 
  .col-3 {
      width: 33%;
      margin-right: 12px;
  }
} */
