<div class="container">
  <app-menu></app-menu>
    <div class="title-container">
        <h2 class="title-definition">Definiciones de conceptos</h2>
    </div>
    <div class="row">
        <div *ngFor="let d of definitions" class="col" style="text-align: center;" >
            <!-- <h3 class="definition-title">{{ d.title }}</h3> -->
            <button class="btn btn-outline-danger btn-styles" (click)="open(content, d.key, d.title )">{{ d.title }}</button>
        </div>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="definition-text">{{modalText}}</p>
          <div *ngIf="modalTitle === '¿Que es SOLID?'">
            <p *ngFor="let p of solidP" >{{p.id}}. {{p.name}}</p>
          </div>
          <div *ngIf="modalTitle === 'Niveles de acceso'">
            <p *ngFor="let p of accessLevels" >{{p.id}}. {{p.name}}</p>
          </div>
          <div *ngIf="modalTitle === '¿Que es una clase?'">
            <p>{{modalAdditional}}</p>
          </div>
          <div *ngIf="modalTitle === 'API Web'">
            <p style="text-align: justify;">{{modalAdditional}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Regresar</button>
        </div>
      </ng-template>
      
     
</div>